/* header color #2E2F42;*/
/*standard color #434455;*/
/*accent color for :hover and :active #4D5AE5;*/

/*---index.html styles---*/

    /* page background color */
.body{
   background-color: #ffffff;
   color: #434455; 
}
    /*logo, contacts and nav*/
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #2E2F42;
    text-decoration: none;
}
.nav-link{
    color: #2E2F42;
    text-decoration: none;
}


/*banner*/
.banner{
    background: #2E2F42;
}
.banner-logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

}
/*button*/
.button{

    background-color: #4D5AE5;
    color:#FFFFFF;
    border-color: transparent;
}
/*important-points*/
.important-points-marker{
    list-style-type: none;
}
.important-points-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
.important-points-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
/*activities*/
.activities-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.activities-marker{
    list-style-type: none;
}
/*teamcards*/
.teamcards-marker{
    list-style-type: none;
}
.teamcards{
    background: #F4F4FD;
}
.teamcards-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

}
/*footer*/
.footer{
    background: #2E2F42;
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
.footer-logo-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}