/*1st color #2E2F42;*/
/*2nd color #434455;*/
/*accent */

/*index.html styles*/

    /* page background color */
.body{
   background-color: #ffffff;
}
    /*logo, contacts and nav*/
.logo{
    color: #4D5AE5;
    text-decoration: none;
}
.logo-studio{
    color: #2E2F42;
    text-decoration: none;
}
.nav a{
    color: #2E2F42;
    text-decoration: none;
}
.nav-marker{
 list-style-type: none;
}
.contacts{

}